body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E1AEFF;
}

.container {
    background-color: #fff;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #F266AB;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.label-form-group {
    flex-direction: row;
    padding: 20px;
}

label {
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #F266AB;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
